.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15rem;
}

.footer_spacer {
  display: flex;
  width: 100%;
  height: 65%;
  align-items: center;
  justify-content: center;
}

.footer_container {
  display: flex;
  align-items: center;
  width: 100%;
}
.footer_content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
}
.footer_content a {
  color: #ffff;
}
.footer_socials {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30%;
}
.socials{
  font-size: 1.5rem;
  margin: 0 .5rem .5rem 0;
}

@media screen and (max-width: 950px) {
  .footer_container {
    flex-direction: column;
  }
  .footer_content{
    width: 100%;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 650px) {
  .footer_content{
    flex-direction: column;
  }
  .footer_content a{
    margin-top: .5rem;
  }
  .footer_content span{
    padding: 0 .3rem;
  }
}

